.cardTable {

}

.breaker {
    clear: both;
    display: block;
}

.card {
    float:left;
}

.card img {
    height: 220px;
}


.selected {
    background-color: yellow !important;
}

.card span {
    margin-left: 2px;
}

.controls button{
    margin: 15px 0;
    display:block;
    width: 100%
}
